html {
    height: 100%;
}

body {
    background-color: #2F688D;
    min-height: 100%;
    margin: 0;
}


/*
.dropdown-button {
    width: 200%;
}
*/

.input-field input {
        border-bottom: 1px solid #FFFFFF !important;
        box-shadow: 0 1px 0 0 #6AB8EB !important;
}

.input-field label {
    color: rgba(255,255,255,0.5);
}

.main {
/*    margin-left: 300px;*/
    position: absolute; top: 0; bottom: 0; left: 300px; right: 0;
}

.nav-wrapper:hover {
    box-shadow: 0px 7px 5px #6AB8EB;
}

.nav-wrapper {
    box-shadow: 0px 3px 5px #6AB8EB;
    transition: box-shadow 0.4s;
    background-color: #2F688D;
}

.nav-wrapper a {
    color: #FFF;
}

.nav-wrapper li {
    background-color: #2F688D;
}

.nav-wrapper li a {
    color: white;
}

.display img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    max-width:60%;
    max-height:60%;
}

#triangle-left {
    width: 0;
    height: 0;
    border-top: 50% solid transparent;
    border-right: 100% solid red;
    border-bottom: 50% solid transparent;
}

.collection {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}

.collection .collection-item {
    background-color: #F0DE89;
    color: #6E653F;
}

.collection a.collection-item {
    color: #6E653F;
}

#blanks {
    text-align: center;
}

#blanks h2 {
    margin-left: 1%;
    display: inline;
    margin-right: 1%;
}

.mainBtns { 
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    position: absolute;
}

.graph {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    color: white;
}

.graph-bar {
    height: 5%;
    width: 90%;
    display: inline-block;
}

.graph-label {
    width: 10%;
    float: left;
    text-align: center;
}

.graph-value {
    float: left;
    min-height: 50px;
    /* width: 85%; */
    width: 0%;
    background: rgba(125, 184, 222, 0.9);
    transition: width 1.5s;
}

.graph-percentage {
    float: left;
    width: 5%;
    text-align: center;
}

.graph-value p {
    padding-left: 2%;
}

.mainBtns a {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.btn {
    background-color: #6AB8EB;
}

.btn:hover {
    background-color: #2F688D;
}

#recordList a.collection-item {
    font-size: 300%;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

.playback {
    margin-top: 2%;
    margin-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 65px;
}

#PlayBtn {
    background-color: #413c25;
}

#PlayBtn:hover {
    background-color: #006500;
}

#HomeBtn {
    background-color: #413c25;
}

#HomeBtn:hover {
    background-color: #910000;
}

.letterChoice {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#resultList {
    display: none;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gameNext {
    display: none;
}

#square {
	width: 90%;
	height: 90%;
	background: red;
}

.letterChoice ul a {
    padding-left: 20px;
    padding-right: 30px;
    align-content: center;
    width: 1%;
}